%h3 User Home


Welcome to The Iron Yard

= link_to "Account Information", edit_user_path(@user)

= link_to "Select Course", course_locations_path













= link_to "Assignment", assignments_path

