.main-container.container
  .row
    .sidebar.col-md-3
    = link_to "Locations", locations_path, class: 'btn btn-success'
    = link_to "Courses", courses_path, class: 'btn btn-success'
    .content.col-md-9


