
.container
  .row
    .span6
      %button.btn.btn-link{:type => "button"}
      = link_to "Locations", locations_path 
    .span6
      %button.btn.btn-link{:type => "button"}
      = link_to "Courses", courses_path 


