%h2 Submission

%p Use the field below to enter the link to your work. The instructor will change the status to complete when assignment challenges have been met. 

%h6= link_to "New", new_assignment_submission_path(@assignment)




Add Link
/ = render 'link'