=@course.name
%br
=@course.description

%ul
  -@locations.each do |location|
    %li
      =location.name
      %br
      =location.city
      =location.state
      %br
      = link_to "Enter", course_locations_path(@course_location),  class: 'btn btn-primary'
      

